.textBox {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 10px;
  padding: 25px;
}

.buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
}

.button {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border: solid 2px #245a84;
  color: #245a84;
  border-radius: 10px;
  padding: 25px;
  cursor: pointer;
}
